# chapter 10

tuples

In [1]:
# Tuple packing
person = ("Alice", 30, "New York")

# Tuple unpacking
name, age, city = person
print("Name:", name)
print("Age:", age)
print("City:", city)

Name: Alice
Age: 30
City: New York

In [2]:
# A function that returns multiple values as a tuple
def get_person_info():
    name = "Bob"
    age = 25
    city = "Los Angeles"
    return name, age, city

# Calling the function and unpacking the returned tuple
person_info = get_person_info()
name, age, city = person_info
print("Name:", name)
print("Age:", age)
print("City:", city)

Name: Bob
Age: 25
City: Los Angeles

In [3]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concatenating two tuples
combined_tuple = tuple1 + tuple2
print("Combined Tuple:", combined_tuple)

Combined Tuple: (1, 2, 3, 4, 5, 6)

In [4]:
names = ("Alice", "Bob", "Charlie")
ages = (30, 25, 35)

# Iterating over two tuples in parallel using zip
print("People and Their Ages:")
for name, age in zip(names, ages):
    print(f"{name}: {age} years old")

People and Their Ages:
Alice: 30 years old
Bob: 25 years old
Charlie: 35 years old

In [5]:
my_tuple = (1, 2, 3)

# Attempting to modify a tuple (will raise an error)
try:
    my_tuple[0] = 4
except TypeError as e:
    print("Error:", e)

Error: 'tuple' object does not support item assignment

In [6]:
def calculate_stats(numbers):
    count = len(numbers)
    total = sum(numbers)
    average = total / count
    maximum = max(numbers)
    minimum = min(numbers)
    return count, total, average, maximum, minimum

data = [10, 20, 30, 40, 50]
result = calculate_stats(data)

# Unpacking the returned tuple
count, total, average, maximum, minimum = result

print("Count:", count)
print("Total:", total)
print("Average:", average)
print("Maximum:", maximum)
print("Minimum:", minimum)

Count: 5
Total: 150
Average: 30.0
Maximum: 50
Minimum: 10

In [7]:
point = (3, 4)  # (x, y) coordinates

# Accessing individual coordinates
x, y = point
print("X Coordinate:", x)
print("Y Coordinate:", y)

X Coordinate: 3
Y Coordinate: 4

In [8]:
location_data = {
    (40.7128, -74.0060): "New York City",
    (34.0522, -118.2437): "Los Angeles",
    (51.5074, -0.1278): "London"
}

for coordinates, city in location_data.items():
    print(f"Coordinates {coordinates} correspond to {city}")

Coordinates (40.7128, -74.006) correspond to New York City
Coordinates (34.0522, -118.2437) correspond to Los Angeles
Coordinates (51.5074, -0.1278) correspond to London

In [9]:
a = 5
b = 10

# Swapping values using tuples
a, b = b, a
print("a =", a)
print("b =", b)

a = 10
b = 5

In [10]:
def get_name_and_age():
    name = "Alice"
    age = 30
    return name, age

person = get_name_and_age()
print("Name:", person[0])
print("Age:", person[1])

Name: Alice
Age: 30